extend layout.pug
block hero
    section.hero.is-dark.is-bold.has-text-centered
        .hero-body
            .container
                h1.title Productos
block content
    h2 Página de ejemplo
    ul
        each product in products
            li
                strong=  product.name
            p= product.price